<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52cd1fbf1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/utilities.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="">
                <input type="text" placeholder="Buscar productos marcas"><i class="fas fa-search"></i>
                <h3><i class="fas fa-hand-holding-usd"></i>Comprá en coutas y sin tarjeta de crédito</h3>
            </div>
            <div class="menu">
                <div class="navbar">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="register.html">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="login.html ">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
                <div class="burger-menu">
                    <i class="fas fa-bars "></i>
                </div>
            </div>
        </div>
        <img src="./images/img-home-banner.jpg" alt="home-banner">
    </header>

    <div class="container-form">
        <div class="form-wrap"> 
            <h1>Sign Up</h1>
            <p>It's free and only takes a minute</p>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="firstname-lastname">First and Last name</label>
                    <input type="text" name="firstname-lastname" pattern=".{2}" id="firstname-lastname">
                </div>
                <div class="form-group">
                    <label for="user">User Name</label>
                    <input type="text" name="user" id="user">
                </div>
                <div class="form-group">
                    <label for="date-of-birth">Date of Birth</label>
                    <input type="date" name="date-of-birth" id="date-of-birth">
                </div>

                <div class="form-group">
                    <label for="Addres">Addres</label>
                    <input type="text" name="user" id="Addres">
                </div>

                <div class="form-groupR">
                    <label for="user-profile">User-Profile</label>
                    <input type="radio" name="user-profile" id="user-profile" value="Comprar">Comprar
                    <input type="radio" name="user-profile" id="user-profile" value="Vender">Vender
                </div>

                <div class="form-groupC">
                    <label for="category-interest">Category of Interest</label>
                    <input type="checkbox" name="category-interest" id="category-interest" value="Electro">Electro
                    <input type="checkbox" name="category-interest" id="category-interest" value="Moda">Moda
                    <input type="checkbox" name="category-interest" id="category-interest" value="hogar">Hogar
                    <input type="checkbox" name="category-interest" id="category-interest" value="Jugueteria">Juguetería
                    <input type="checkbox" name="category-interest" id="category-interest" value="vida-sana">Vida Sana
                </div>

                <div class="form-group">
                    <label for="avatar">Send File</label>
                    <input type="file" name="avatar" id="avatar">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="form-group">
                    <label for="password2">Repeat Password</label>
                    <input type="password" name="password2" id="password2">
                </div>


                <button type="submit" class="btn">Sign Up</button>
                <button type="reset" class="btn">Reset</button>
                <p class="bottom-text">
                    By clicking the Sign Up button, you agree to our
                    <a href="#">Terms & Conditions</a> and
                    <a href="#">Privacy Policy</a>
                </p>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="bg-ligth">
        <div class="social">
            <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                productos.Es <br> un beneficio de Mercado Puntos.
            </p>
            </div>
            <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer,
                porque estás <br> siempre protegid@.
            </p>
            </div>
        </div>
        <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>